flask
langchain
langchain-classic
langchain-community
langchain-huggingface
qdrant-client
pydantic-settings
pypdf
sentence-transformers
werkzeug
langchain-text-splitters
langchain-qdrant
langchain-ollama